
.main__subtitle {
  font-weight: 400;
}

.main__title {
  margin-bottom: 40px;
}

.main__description {
  margin-bottom: 35px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.main__project {
  border: none;
}